@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-left: 35px;
  padding-right: 60px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  &__list-item:first-child {
    margin-right: 80px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22px;
  }
}

.footer {
  &__content {
    background: #dfdfdf;
    padding: 60px 0 80px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 540px;
  }
  &__info-text {
    margin-bottom: 16px;
    max-width: 480px;
  }
  &__info-email {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: $black;
    padding-left: 30px;
    margin-bottom: 22px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/icon-envelope.svg);
      top: 8px;
      left: 0;
      width: 16px;
      height: 12px;
    }
  }
  &__form {
    display: flex;
  }
  &__form-input {
    width: 100%;
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($black, 0.7);
    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #a1a1a1;
    }
  }
  &__form-button {
    min-width: 160px;
    background-color: $black;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    margin-left: 9px;
    cursor: pointer;
  }

  &__info-title {
    color: $black;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }
  &__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }

  &__social-item,
  &__menu-item {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__social-link {
    padding-left: 28px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
    }
  }
  &__social-link--facebook::before {
    background-image: url(../images/icon-facebook.svg);
  }
  &__social-link--instagram::before {
    background-image: url(../images/icon-instagram.svg);
    top: 4px;
    width: 14px;
    height: 14px;
  }
  &__social-link--pinterest::before {
    background-image: url(../images/icon-pinterest.svg);
  }
  &__social-link--whatsapp::before {
    background-image: url(../images/icon-whatsapp.svg);
    width: 14px;
    height: 14px;
  }
  &__social-link--youtube::before {
    background-image: url(../images/icon-youtube.svg);
    top: 4px;
    width: 18px;
    height: 12px;
  }

  &__social-link,
  &__menu-link {
    color: #707070;
  }
  &__menu {
    width: 125px;
    margin-right: 60px;
  }

  &__copyright {
    background-color: $black;
    color: #a1a1a1;
    text-align: center;
    padding: 42px 0 41px;
  }
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 694px;
  background-color: #fff;
  padding-top: 40px;
  transition: all 0.6s;
  &.rightside-menu--close {
    transform: translateX(500%);
  }
  &__btn-close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &__title {
    color: $black;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 252px;
      margin: 0 auto;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    margin-bottom: 75px;
  }
  &__images {
    width: 485px;
  }
}

.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/slider-bg.jpg);
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
    }
  }
  &__slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slider-img {
    margin-left: -15%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }
  &__slider-info {
    max-width: 645px;
    margin-left: 25px;
  }
  &__slider-title {
    color: $black;
    font-size: 110px;
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;

      width: 185px;
      height: 1px;
      background: #6d7278;
    }
  }
  &__slider-text {
    max-width: 585px;
  }
}

.new-collection {
  text-align: center;
  padding: 45px 0 105px;
  &__title {
    color: $black;
    font-size: 35px;
    line-height: 51px;
    @extend %title-font;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 252px;
      height: 1px;
      background-color: #6d7278;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  &__item {
    position: relative;
    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__images {
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
  &__info-title {
    font-size: 20px;
    line-height: 25;
    color: $black;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 80%;
      background-color: #6d7278;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}

.decor {
  padding: 170px 0 155px;
  background-image: url(../images/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  &__title {
    max-width: 540px;
    color: $black;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    @extend %title-font;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      height: 1px;
      width: 200px;
      background-color: #6d7278;
    }
  }
  &__text {
    max-width: 540px;
  }
}

.works-process {
  padding: 80px 0 30px;
  &__title {
    text-align: center;
    @extend %title-font;
    color: $black;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }
  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rbga($black, 0.7);
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $black;
    }
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    position: relative;
  }
  &__item--production {
    margin-left: 317px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($black, 0.7);
    }
  }
  &__item--consultation,
  &__item--production {
    padding-bottom: 38px;
  }
  &__item--measuring {
    padding-top: 38px;
    margin-left: 305px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($black, 0.7);
    }
  }
  &__item-title {
    margin-left: 13px;
    color: $black;
    @extend %title-font;
  }
  &__item-text {
    margin-top: 13px;
  }
}
